/*------------
Reset
------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none !important;
    font-family: 'Roboto', sans-serif;
    transition: all 800ms;
}
body,html{
    overflow-x: hidden;
    width: 100%;
}
body{
    display: flex;
    background: var(--color-1);
    
}
#pageleft{
    width: calc(100% - 100px);
    overflow-x: hidden;
}
#pageright{
    width: 100px;
    padding-top: 50px;
    border-left:1px solid var(--pageright-border-color);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 1000;
}
/*------------
Colors
------------*/
:root{
    --color-1:white;
    --color-2:#000000;
    --pageright-border-color:#BCBCBC;
    --skillpercent-BG:#EBEBEB;
    --skillpercent-Span-BG:#484848;
    --border-color-linear:linear-gradient(103.83deg, #D704D2 -5.83%, #2576C1 51.56%, #C50BD2 110.15%);
}
body.dark{
    --color-1:#000000;
    --color-2:white;
    --skillpercent-Span-BG:white;
    --skillpercent-BG:#313131;
    --pageright-border-color:#FFFFFF33;
}
/*------------
Global css
------------*/
.portfoliotoptext h3{
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: var(--color-2);
}
.portfoliotoptext{
    margin-bottom: 40px;
}
.textborder span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width:1px;
}
.mainbuttonhover{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-1);
    transition: all 100ms;

position: relative;
width: 98px;
}
.mainbuttonhover svg path{
    fill: var(--color-2);
}
.mainbuttonhover .hoversvg path{
    fill:var(--color-2);
}
.mainbuttonhover .hoversvg{
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 100ms;
}
.mainbuttonhover p{
    font-family: 'VT323', monospace;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 14px;
}
.mainbuttonhover:hover p{
    color:var(--color-2)
}
.mainbuttonhover:hover .hoversvg{
    opacity: 1;

}
.mainbuttonhover:hover .normalsvg{
    visibility: hidden;
    opacity: 0;
}
.squarediv{
    border: 1.44872px solid var(--color-2);
    box-sizing: border-box;
    border-radius: 21.7308px;
}
@keyframes TopDown {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-10px);
    }
}
/*------------
Swiper
------------*/
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

/*------------
mobilenavmenu
------------*/  
.mobilenavmenu{
    position: fixed;
    top:0px;
    padding: 10px 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transition: all 300ms;
}
.mobilenavmenu.bgdark{
    background: var(--color-1);
}
.mobilenavmenu.active{
    background: var(--color-1);
}
.mobilenavmenu .content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}
.mobilenavmenu .logo h2{
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    
    color: var(--color-2);
}

.mobilenavmenu .content .hamburgermenuiconmobile{
    width: 40px;
height: 40px;
background: #141414;
border: 1px solid #434343;
box-sizing: border-box;
border-radius: 5px;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
transition: all 300ms;
}
body.light .mobilenavmenu .content .hamburgermenuiconmobile{
    background: #EBEBEB;
    border-color: #BCBCBC;
}
.mobilenavmenu .content .hamburgermenuiconmobile span{
    width: 1px;
    height: 20px;
    margin: 0 5px;
    background: var(--color-2);
    transition: all 300ms;
}
.mobilenavmenu .content .hamburgermenuiconmobile.active span:nth-child(1){
    transform: rotate(-45deg);
    margin: 0;

}
.mobilenavmenu .content .hamburgermenuiconmobile.active span:nth-child(2){
    transform: rotate(45deg);
    margin: 0;
}
/*------------
moble open menu
------------*/  
.mobileopenmenu{
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-1);
    z-index:1000;
    overflow: hidden;
    height: 0;
    transition: all 600ms;
    display: flex;
    align-items: center;
    justify-content: center;

}
.mobileopenmenu.active{
    height: 100%;
    padding-bottom: 50px;
}
.mobileopenmenu .content .theme{
    transform: rotate(-90deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.mobileopenmenu .content .theme .themecontent{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 33px;
height: 108px;
background: #383838;
border-radius: 56px;

}
body.light .content .theme .themecontent{
    background: #EBEBEB !important;
}
.mobileopenmenu .content .theme .light p{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #999999;
    margin: 0;
padding: 0;
transition: all 300ms;
}
.mobileopenmenu .content .theme .dark,
.mobileopenmenu .content .theme .light{
    transform: rotate(90deg);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms;
    cursor: pointer;
}
.mobileopenmenu .content .theme .dark{
border-radius: 56px;
width: 54px;
height: 33px;
transition: all 300ms;
}

body.dark .content .theme .dark{
    background: #262626;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}
body.light .content .theme .light{
    background: #FFFFFF;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}
body.light .content .theme .light p{
    color: #000000 !important;
}
body.light .content .theme .dark p{
    color: #898989 !important;
}
.mobileopenmenu .content .theme .light{
    border-radius: 56px;
    width: 54px;
height: 33px;
transition: all 300ms;
}
.mobileopenmenu .content .theme .dark p{
    font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
margin: 0;
padding: 0;
color: var(--color-2);
transition: all 300ms;
}
.mobileopenmenu .navlist{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mobileopenmenu .navlist ul{
    margin: 0;
    padding: 0;
}
.mobileopenmenu .navlist ul li{
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mobileopenmenu .navlist ul li a{
    margin: 0;
    padding: 0;
    font-style: normal;
font-weight: 900;
font-size: 20px;
line-height: 40px;
color: var(--color-2);
text-align: center;
transition: all 300ms;
position: relative;
}
.mobileopenmenu .navlist ul li a::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background: var(--color-2);
    transition: all 300ms;
}
.mobileopenmenu .navlist ul li a:hover::before{
    width: 100%;
}
.mobileopenmenu .content .socialmedias{
    
    margin-top: 50px;
}
.mobileopenmenu .content .socialmedias ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mobileopenmenu .content .socialmedias ul li{
    
    margin: 0px 10px;
}
.mobileopenmenu .content .socialmedias ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
height: 42px;
font-size: 20px;

border: 1px solid #434343;
box-sizing: border-box;
border-radius: 10px;
color: var(--color-2);
transition: all 300ms;
}
mobileopenmenu .content .socialmedias ul li a:hover{
    background: var(--color-2);
    color: var(--color-1);
}
/*------------
pageright
------------*/
#pageright{
    position: fixed;
    top: 0;
    right: 0;
    transition: all 1000ms;
    background: var(--color-1);
    height: 100%;
}
#pageright.active{
    right: calc(100% - 100px);
    border: none;
    border-right: 1px solid var(--pageright-border-color);
}
/* #pageright.active{
    padding: 0;
    width: 100%;
    height: 100px;
    border: none;
}
#pageright.active .content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
#pageright.active .content .logo{
    transform: rotate(0);
}
#pageright.active .content .theme{
    margin: 0;
}
#pageright.active .content .theme .themecontent{
    transform: rotate(-90deg);
}
#pageright.active .content .theme .themecontent .dark,
#pageright.active .content .theme .themecontent .light{
    transform: rotate(90);
}
#pageright.active .content .hamburgermenuicon{
    margin: 0;
}
#pageright.active .content .socialmedias{
    margin: 0;
}
#pageright.active .content .socialmedias ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
#pageright.active .content .socialmedias ul li{
    transform: rotate(0);
    margin: 0 10px;
} */
#pageright .content .logo{
    transform: rotate(90deg);
}
#pageright .content .logo h2{
    font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 35px;

color: var(--color-2);
}
#pageright .content .theme{

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}
#pageright .content .theme .themecontent{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 33px;
height: 108px;
background: #383838;
border-radius: 56px;

}
body.light .content .theme .themecontent{
    background: #EBEBEB !important;
}
#pageright .content .theme .light p{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #999999;
    margin: 0;
padding: 0;
transition: all 300ms;
}
#pageright .content .theme .dark,
#pageright .content .theme .light{
    transform: rotate(90deg);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms;
    cursor: pointer;
}
#pageright .content .theme .dark{
border-radius: 56px;
width: 54px;
height: 33px;
transition: all 300ms;
}

body.dark .content .theme .dark{
    background: #262626;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}
body.light .content .theme .light{
    background: #FFFFFF;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}
body.light .content .theme .light p{
    color: #000000 !important;
}
body.light .content .theme .dark p{
    color: #898989 !important;
}
#pageright .content .theme .light{
    border-radius: 56px;
    width: 54px;
height: 33px;
transition: all 300ms;
}
#pageright .content .theme .dark p{
    font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
margin: 0;
padding: 0;
color: var(--color-2);
transition: all 300ms;
}
#pageright .content .hamburgermenuicon{
    width: 57px;
height: 57px;

margin-top: 50px;
transform: translateX(5px);
background: #141414;
border: 1px solid #434343;
box-sizing: border-box;
border-radius: 10px;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
transition: all 300ms;
}
body.light #pageright .content .hamburgermenuicon{
    background: #EBEBEB;
    border-color: #BCBCBC;
}
#pageright .content .hamburgermenuicon span{
    width: 1px;
    height: 21.11px;
    margin: 0 5px;
    background: var(--color-2);
    transition: all 300ms;
}
#pageright .content .hamburgermenuicon.active span:nth-child(1){
    transform: rotate(-45deg);
    margin: 0;

}
#pageright .content .hamburgermenuicon.active span:nth-child(2){
    transform: rotate(45deg);
    margin: 0;
}
#pageright .content .socialmedias{
    
    margin-top: 50px;
}
#pageright .content .socialmedias ul{
    margin: 0;
    padding: 0;

}
#pageright .content .socialmedias ul li{
    transform: rotate(90deg);
    margin: 10px 0;
}
#pageright .content .socialmedias ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
height: 42px;
font-size: 20px;

border: 1px solid #434343;
box-sizing: border-box;
border-radius: 10px;
color: var(--color-2);
transition: all 300ms;
}
#pageright .content .socialmedias ul li a:hover{
    background: var(--color-2);
    color: var(--color-1);
}
/*------------
open menu
------------*/
.openmenu{
    position: fixed;
    top:0px;
    right: -100%;
    height: 100%;
    width: calc(100% - 100px);
    background: var(--color-1);
    z-index: 1000;
    transition: all 1100ms;
}
.openmenu.active{
    right: 0px;
}
.openmenu .content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.openmenu .content ul{
    margin: 0;
    padding: 0;
}
.openmenu .content ul li{
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.openmenu .content ul li a{
    margin: 0;
    padding: 0;
    font-style: normal;
font-weight: 900;
font-size: 50px;
line-height: 59px;
color: var(--color-2);
text-align: center;
transition: all 300ms;
position: relative;
}
.openmenu .content ul li a::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background: var(--color-2);
    transition: all 300ms;
}
.openmenu .content ul li a:hover::before{
    width: 100%;
}
/*------------
banner
------------*/
#banner{
    position: relative;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#banner .leftcol{
    transform: translateX(-200px);
    transition: all 1000ms;
}
#banner .leftcol.active{
    transform: translateX(0);
}
#banner .rightcol{
    transform: translateX(200px);
    transition: all 1000ms;
}
#banner .rightcol.active{
    transform: translateX(0);
}
#banner .bg-image{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
    z-index: -1;
}
#banner .bg-image img{
    width: 100%;
    height: 100%;
}
#banner .col-12{
    display: flex;
    align-items: center;
    justify-content: center;
}
#banner .leftcol h1{
    font-style: normal;
font-weight: bold;
font-size: 60px;
line-height: 70px;
color: var(--color-2);
width: 533px;

}



#banner .rightcol .imagediv{
    border: 1.44872px solid var(--color-2);
    box-sizing: border-box;
    border-radius: 21.7308px;
    position: relative;
}
#banner .rightcol .imagediv .squarediv1{
    width: 136.9px;
height: 131.11px;
    position: absolute;
    top: -11%;
    left: -11%;
    animation: squarediv1 6000ms infinite;
}
@keyframes squarediv1 {
    0%{
        transform: translateX(0px,0);
    }

    30%{
        transform: translate(440px,0);
    }
    50%{
        transform: translate(440px,480px);
    }
    75%{
        transform: translate(0px ,480px);
        
    }

    100%{
        transform: translate(0px ,0px);
    }
}
#banner .rightcol .imagediv .squarediv2{
    width: 102.86px;
    height: 103.58px;
        position: absolute;
        top: 13%;
        right: -8%;
    animation: squarediv2 6000ms infinite;

}
@keyframes squarediv2 {
    0%{
        transform: translate(0px,0);
    }

    30%{
        transform: translate(0px,390px);
    }
    50%{
        transform: translate(-480px,390px);
    }
    75%{
        transform: translate(-480px ,-100px);
        
    }

    90%{
        transform: translate(0px ,-100px);
    }
    100%{
        transform: translate(0px ,0px);
    }
}
#banner .rightcol .imagediv .squarediv3{
    width: 76.06px;
    height: 76.78px;
        position: absolute;
        bottom: -7%;
    
        left: 8%;
    animation: squarediv3 6000ms infinite;

}
@keyframes squarediv3 {
    0%{
        transform: translate(0px,0);
    }

    25%{
        transform: translate(-80px,0px);
    }
    45%{
        transform: translate(-80px,-480px);
    }
    60%{
        transform: translate(420px ,-480px);
        
    }

    80%{
        transform: translate(420px ,0px);
    }
    100%{
        transform: translate(0px ,0px);
    }
}
#banner .rightcol .imagediv img{
    width: 100%;
    height: 100%;
}
#banner .rightcol .imagediv{
    width: 497.63px;
    height: 499.08px;
}
/*------------
aboutme
------------*/
#aboutme .container{

    position: relative;
    padding: 1px;
}
#aboutme .container::before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--border-color-linear);
    z-index: -1;
    border-radius: 16px;
}
#aboutme .container .row{
    background: var(--color-1);
    z-index: 100;
    margin: 1px;
    position: relative;
    padding: 20px;
    border-radius: 16px;

}
#aboutme .leftcol{
    transform: translateX(-100px);
    transition: all 1000ms;
}
#aboutme .leftcol.active{
    transform: translateX(0px);
}
#aboutme .rightcol{
    transform: translateX(100px);
    transition: all 1000ms;
}
#aboutme .rightcol.active{
    transform: translateX(0px);
}
#aboutme .leftcol .imagediv img{
    transform: translateY(1px);
    height: 388.54px;
}

#aboutme .leftcol .content{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
#aboutme .leftcol .imagediv{
    padding-top: 80px;
    border: 2px solid var(--color-2);
    border-radius: 25px;

}
#aboutme .rightcol .content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#aboutme .rightcol h2{
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 47px;
color: var(--color-2);
}
#aboutme .rightcol h2::before{
    content: "";
    position: absolute;
    left: 35%;
    bottom: 20px;
    width: 60px;
    height: 1px;
    border: 0.81662px solid var(--color-2);
}
#aboutme .rightcol h3{
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;

    color: var(--color-2);
    margin: 25px 0;
}
#aboutme .rightcol .content > p{
    margin: 0;
    padding: 0;
    font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 143.19%;
/* or 29px */


color: var(--color-2);
}
#aboutme .rightcol .readmore{
    margin-top: 43px;

}
#aboutme .rightcol .readmore > p{
    margin: 0;
    padding: 0;
    font-family: 'Brygada 1918', serif;
    font-style: italic;
font-weight: normal;
font-size: 30px;

color: var(--color-2);
}
#aboutme .rightcol .readmore div{
    display: flex;
}
#aboutme .rightcol .readmore div > p{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;

    color: var(--color-2);
}
#aboutme .rightcol .readmore div > p i{
    margin-left: 20px;
}
#aboutme .rightcol .readmore div a{
    margin-left: 20px;
}


/*------------
skills
------------*/
#skills{
    margin: 100px 0;
}
#skills .leftcol{
    transform: translateX(-200px);
    transition: all 1000ms;
}
#skills .leftcol.active{
    transform: translateX(0px);
}
#skills .rightcol{
    transform: translateX(200px);
    transition: all 1000ms;
}
#skills .rightcol.active{
    transform: translateX(0px);
}
#skills .leftcol .content{
    position: relative;
    padding-top: 80px;
}
#skills .leftcol h2{
    position: absolute;
    top: 0;
    left: 0%;

    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 117px;
    color: var(--color-2);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width:1px;
    width: 100%;
    
}
#skills .leftcol h3{
    margin: 0;
    padding: 0;
 
    font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 47px;

color: var(--color-2);
margin-bottom: 30px;
margin-left: 30px;
}
#skills .leftcol p{
    margin: 0;
    padding: 0;
    font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 143.19%;
/* or 29px */


color: var(--color-2);
}
#skills .rightcol ul{
    margin: 0;
    padding: 0;
}
#skills .rightcol ul li:not(:last-child){
    margin-bottom: 35px;
}
#skills .rightcol ul li .toptext {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#skills .rightcol ul li .toptext p{
    margin: 0;
    padding: 0;
    font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 23px;
color: var(--color-2);
}
#skills .rightcol ul li .skillpercent{
    margin-top: 3px;
    position: relative;
    width: 100%;
    height: 13px;
    border-radius: 13px;
    background: var(--skillpercent-BG);
}
#skills .rightcol ul li .skillpercent span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 85%;
    border-radius: 13px;
    background: var(--skillpercent-Span-BG);
}
/*------------
workstext
------------*/
#workstext{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateX(-200px);
    transition: all 1000ms;
}
#workstext.active{
    transform: translateX(0);
}
#workstext h2{
    text-align: center;
    margin: 0;
    padding: 0;
    font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 47px;
/* identical to box height */


color: var(--color-2);
}
#workstext a{
    text-align: center;
    margin-top: 40px;
    color: var(--color-2);
    font-size: 60px;
    animation: TopDown 700ms infinite;
}
/*------------
gifportfolio
------------*/
#gifportfolio{
    transform: translateY(200px);
    transition: all 1000ms;
}
#gifportfolio.active{
    transform: translateY(0px);
}
#gifportfolio{
    margin-top: 100px;
}
#gifportfolio .gifslidercon .swiper-slide{
    background: transparent;
}
#gifportfolio .gifslidercon .swiper-slide > a{
    width: 100%;
}
#gifportfolio .gifslidercon .swiper-slide .content{
    width: 100%;
}
#gifportfolio .gifslidercon .swiper-slide .imgdiv{
    border-radius: 20px;
    height: 165px;
    width: 100%;

}
#gifportfolio .gifslidercon .swiper-slide .imgdiv img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
#gifportfolio .gifslidercon .swiper-slide .textdiv p{
    margin: 0;
    padding: 0;
    font-style: normal;
font-weight: 300;
font-size: 10px;
line-height: 12px;

color: #999999;
margin-top: 19px;
}
#gifportfolio .gifslidercon .swiper-slide .textdiv h5{
    margin: 0;
    padding: 0;
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
color: var(--color-2);
margin-top: 7px;
}
/*------------
portfolio3d
------------*/
#portfolio3d{
    transform: translateY(200px);
    transition: all 1000ms;
}
#portfolio3d.active{
    transform: translateY(0px);
}
#portfolio3d{
    margin-top: 100px;
}
#portfolio3d .slider3dcon .swiper-slide{
    background: transparent;
}
#portfolio3d .slider3dcon .swiper-slide .imgdiv{
    border-radius: 20px;
    height: 192px;
    width: 100%;

}
#portfolio3d .slider3dcon .swiper-slide .imgdiv img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
#portfolio3d .slider3dcon .swiper-slide .textdiv p{
    margin: 0;
    padding: 0;
    font-style: normal;
font-weight: 300;
font-size: 10px;
line-height: 12px;

color: #999999;
margin-top: 19px;
}
#portfolio3d .slider3dcon .swiper-slide .textdiv h5{
    margin: 0;
    padding: 0;
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
color: var(--color-2);
margin-top: 7px;
}
/*------------
minimalportfolio
------------*/
#minimalportfolio{
    transform: translateY(200px);
    transition: all 1000ms;
}
#minimalportfolio.active{
    transform: translateY(0px);
}
#minimalportfolio{
    margin-top: 100px;
}
#minimalportfolio .minimalslidercon .swiper-slide{
    background: transparent;
}
#minimalportfolio .minimalslidercon .swiper-slide a{
    position: relative;
    padding: 1px;
    height: 250px;
    width: 100%;
}
#minimalportfolio .minimalslidercon .swiper-slide a::before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--border-color-linear);
    z-index: -1;
    border-radius: 16px;
}
#minimalportfolio .minimalslidercon .swiper-slide a .content{
    background: var(--color-1);
    height: 100%;
    width: 100%;
    border-radius: 16px;
    padding: 35px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
#minimalportfolio .minimalslidercon .swiper-slide .imgdiv{


    width: 134px;
    height: 129px;

}
#minimalportfolio .minimalslidercon .swiper-slide .imgdiv img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
#minimalportfolio .minimalslidercon .swiper-slide .textdiv p{
    margin: 0;
    padding: 0;
    font-style: normal;
font-weight: 300;
font-size: 10px;
line-height: 12px;

color: #999999;
margin-top: 19px;
}
#minimalportfolio .minimalslidercon .swiper-slide .textdiv h5{
    margin: 0;
    padding: 0;
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
color: var(--color-2);
margin-top: 7px;
}
/*------------
portfolioposter
------------*/
#portfolioposter{
    margin-top: 110px;
}
#portfolioposter .maincontentcon .col-lg-6{
    position: relative;
}
#portfolioposter .maincontentcon .col-lg-6 .content::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--border-color-linear);
    z-index: -1;
    border-radius: 13.3168px;
}
#portfolioposter .maincontentcon .col-lg-6 .content{
    border-radius: 13.3168px;
    position: relative;
    padding: 1px;
}
#portfolioposter .maincontentcon .col-lg-6 .content .content2{
    background: var(--color-1);
    height: 100%;
    width: 100%;
    border-radius: 13.3168px;
    padding: 30px 15px;
}
#portfolioposter .maincontentcon .leftcol{
    transform: translateX(-100px);
    transition: all 1000ms;
}
#portfolioposter .maincontentcon  .leftcol.active{
    transform: translateX(0);
}
#portfolioposter .maincontentcon  .rightcol{
    transform: translateX(100px);
    transition: all 1000ms;
}
#portfolioposter .maincontentcon  .rightcol.active{
    transform: translateX(0);
}
#portfolioposter .maincontentcon .content{
border-radius: 13.3168px;
padding: 30px 15px;
}
#portfolioposter .maincontentcon .content .content2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#portfolioposter .maincontentcon .content .left{
    margin-right: 20px;

}

#portfolioposter .maincontentcon .content .left img{
    width: 145.15px;
    height: 208.41px;

}
#portfolioposter .maincontentcon .content .right h2{
    margin: 0;
    padding: 0;
    font-style: normal;
font-weight: 900;
font-size: 20px;
line-height: 23px;
color: var(--color-2);
}
#portfolioposter .maincontentcon .content .right h4{
    margin: 0;
    padding: 0;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */
color: var(--color-2);
margin-top: 8px;
margin-bottom: 20px;
}
#portfolioposter .maincontentcon .content .right p{
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 143.19%;
color: var(--color-2);
}
/*------------
posters
------------*/
#posters{
    margin-top: 100px;
}
#posters .topcol{
    transform: translateX(-500px);
    transition: all 1500ms;
}
#posters .topcol.active{
    transform: translateX(0);
}
#posters .imgcol{
    transform: translateX(-500px);
    transition: all 1500ms;
}
#posters .imgcol.active{
    transform: translateX(0);
}
#posters .textcol{
    transform: translateX(500px);
    transition: all 1500ms;
}
#posters .textcol.active{
    transform: translateX(0);
}
#posters .bottomcol{
    transform: translateX(-300px);
    transition: all 1000ms;
}
#posters .bottomcol.active{
    transform: translateX(0);
}
#posters .topcol .content{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
#posters .topcol .content img{
    width: 18%;
    height: 306px;
}
#posters .imgcol,
#posters .textcol{
    margin-top: 20px;
}
#posters .imgcol .content{
    display: flex;
    align-items:center;
    justify-content: flex-start;
}
#posters .imgcol img{
    width: 206px;
    height: 306px;
}

#posters .imgcol img:nth-child(2){
    margin-left: 25px;
}
#posters .textcol .content{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#posters .textcol h2{
    margin: 0;
    padding: 0;
    font-style: normal;
font-weight: bold;
font-size: 73px;
line-height: 70px;

color: var(--color-2);
}
#posters .bottomcol{
    margin-top: 20px;
}



/*------------
Testimonials
------------*/
#Testimonials{
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding:50px 0;
    padding-bottom: 0;
    transform: translateY(200px);
    transition: all 1000ms;
}
#Testimonials.active{
    transform: translateY(0);
}
#Testimonials .squarediv1{
    position: absolute;
    top: -5%;
    left: 20%;
    width: 66.22px;
height: 70.08px;
border-radius: 15px;
}
#Testimonials .squarediv2{
    position: absolute;
    top: 30%;
    left: 3%;
    width: 49.28px;
    height: 52.36px;
    border-radius: 11px;
}
#Testimonials .squarediv3{
    position: absolute;
    bottom: 0%;
    left: 12%;
    width: 77.01px;
    height: 80.86px;
    border-radius: 15px;
}
#Testimonials .squarediv4{
    position: absolute;
    top: 16%;
    right: 10%;
    width: 104px;
    height: 103px;
    border-radius: 15px;
}
#Testimonials .squarediv5{
    position: absolute;
    bottom: 0%;
    right: 20%;
    width: 70.08px;
    height: 74.7px;
    border-radius: 15px;
}
#Testimonials .toptext{
    margin-bottom: 17px;
}
#Testimonials .toptext h2{
    text-align: center;
    margin: 0;
    padding: 0;
    font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 47px;
color: var(--color-2);

}
#Testimonials .slider{
    width: 50%;
    margin: 0 auto;
}
#Testimonials .slider .testimonialsslider{
    padding: 0 30px;
    padding-bottom: 50px;
}

#Testimonials .slider .swiper-button-next:after{
    display: none;
}
#Testimonials .slider .swiper-button-prev::after{
    display: none;
}
#Testimonials .slider .swiper-button-next,
#Testimonials .slider .swiper-button-prev {
    width: auto;
    height: auto;
}
#Testimonials .slider .swiper-button-next i,
#Testimonials .slider .swiper-button-prev i {
    color:var(--color-2);
}
#Testimonials .slider .testimonialsslider .swiper-pagination-bullet{
    width: 51px;
    height: 5px;
    background: var(--color-2);
    border: 1px solid var(--color-2);
    border-radius: 0;
    opacity: 1;
    transition: all 300ms;
}
#Testimonials .slider .testimonialsslider .swiper-pagination-bullet-active{
    background: transparent;
}
#Testimonials .slider .swiper-slide{
    background: transparent;
}

#Testimonials .slider .swiper-slide h3{
    margin: 0;
    padding: 0;
    font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 143.19%;
/* or 29px */

text-align: center;
color: var(--color-2);
display: inline-block;
position: relative;
}
#Testimonials .slider .swiper-slide h3::before{
    content: "";
    position: absolute;
    top: 50%;
    left: -50%;
    width: 30px;
    height: 1px;
    background: var(--color-2);
    transform: translateY(-50%);
}
#Testimonials .slider .swiper-slide h3::after{
    content: "";
    position: absolute;
    top: 50%;
    right: -50%;
    width: 30px;
    height: 1px;
    background: var(--color-2);
    transform: translateY(-50%);
}
#Testimonials .slider .swiper-slide p{
    margin: 0;
    padding: 0;
    font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 143.19%;
/* or 29px */

text-align: center;
color:var(--color-2);
margin-top: 6px;
}
/*------------
footer
------------*/
footer{
    margin-top: 170px;
    padding-bottom: 30px;
}
footer .left{
    transform: translateX(-300px);
    transition: all 1000ms;
}
footer .left.active{
    transform: translateX(0px);
}
footer .right{
    transform: translateX(300px);
    transition: all 1000ms;
}
footer .right.active{
    transform: translateX(0px);
}
footer .left .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    padding-bottom: 70px;
}
footer .left .toptext{
    position: relative;
}
footer .left .toptext h3{
    margin: 0;
    padding: 0;
    font-style: normal;
font-weight: bold;
font-size: 112px;
line-height: 131px;
 color: #484848;
}
footer .left .toptext h4{
    margin: 0;
    padding: 0;
    font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 47px;
color: var(--color-2);
position: absolute;
top: 50%;
left: 50%;
transform: translateX(-50%);
width: 70%;
}
footer .left .maincontents{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
footer .left .maincontents > div{
    width: 50%;
    margin-top: 50px
}
footer .left .maincontents > div h5{
    margin: 0;
    padding: 0;
    font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 23px;
color: var(--color-2);
text-align: center;
}
footer .left .maincontents > div p{
    margin: 0;
    padding: 0;
    font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 23px;
color: var(--color-2);
margin-top: 16px;
text-align: center;
}
footer .left .maincontents > div ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
footer .left .maincontents > div ul li{
    margin: 0 5px;
}
footer .left .maincontents > div ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30.57px;
height: 30.57px;
border: 0.599401px solid var(--color-2);
box-sizing: border-box;
border-radius: 5.99401px;
color:var(--color-2);
transition: all 300ms;
font-size: 18px;
}
footer .left .maincontents > div ul li a:hover{
    background: var(--color-2);
    color: var(--color-1);
}
footer .right .content .topimg{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .right .content img{
    width: 190.33px;
height: 193.16px;
margin: 0 auto;
}
footer .right .content .inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 462.73px;
}
footer .right .content .inputs input{
    width: 100%;
    height: 45.99px;    
    border: 0.707541px solid var(--color-2);
box-sizing: border-box;
border-radius: 14.1508px;
background: transparent;
margin-top: 18px;
padding: 12px 22px;
color: var(--color-2);
}
footer .right .content .inputs textarea{
    width: 100%;

    height: 149.29px;
    border: 0.707541px solid var(--color-2);
box-sizing: border-box;
border-radius: 14.1508px;
background: transparent;
margin-top: 18px;
padding: 12px 22px;
color: var(--color-2);
}
footer .right .content .btn{
    width: 462.73px;
    margin-top: 25px;
}
footer .right .content .btn button{
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98px;
    height: 40px;
    border-radius: 20px;
    background: var(--color-2);
    border: 1px solid var(--color-2);
    color:var(--color-1);
    transition: all 300ms;
}
footer .right .content .btn button:hover{
    background: transparent;
    color: var(--color-2);
}
/*------------
Medias
------------*/
@media (min-width:992px){
    .mobilenavmenu{
        display: none;
    }
}
@media (max-width:992px) {
    #pageright{
        display: none;
    }
    #pageleft{
        width: 100%;
    }
    #banner{
        height:auto;
        padding-top: 70px;
    }
    #banner .leftcol{
        margin-top: 20px;
    }
    #banner .rightcol{
        margin-top: 80px;
    }
    #aboutme{
        margin-top: 130px;
    }
    #aboutme .rightcol{
        margin-top: 50px;
    }
    #skills .rightcol{
        margin-top: 50px;
    }
    #portfolioposter .maincontentcon .col-12:last-child{
        margin-top: 20px;
    }
    #Testimonials .slider{
        width: 80%;
    }
    footer .right .content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}
@media (max-width:640px) {
    #banner .leftcol h1{
        width: 100%;
        margin-top: 20px;
    }
    #banner .rightcol .imagediv{
        width: 100%;
        height: 100%;
    }
    @keyframes squarediv1 {
        0%{
            transform: translateX(0px,0);
        }
    
        30%{
            transform: translate(340px,0);
        }
        50%{
            transform: translate(340px,380px);
        }
        75%{
            transform: translate(0px ,380px);
            
        }
    
        100%{
            transform: translate(0px ,0px);
        }
    }
    @keyframes squarediv2 {
        0%{
            transform: translate(0px,0);
        }
    
        30%{
            transform: translate(0px,290px);
        }
        50%{
            transform: translate(-350px,290px);
        }
        75%{
            transform: translate(-350px ,-100px);
            
        }
    
        90%{
            transform: translate(0px ,-100px);
        }
        100%{
            transform: translate(0px ,0px);
        }
    }
    @keyframes squarediv3 {
        0%{
            transform: translate(0px,0);
        }
    
        25%{
            transform: translate(-50px,0px);
        }
        45%{
            transform: translate(-50px,-400px);
        }
        60%{
            transform: translate(300px ,-400px);
            
        }
    
        80%{
            transform: translate(300px ,0px);
        }
        100%{
            transform: translate(0px ,0px);
        }
    }    
    #aboutme .rightcol .readmore div p{
        font-size: 25px;
    }
    #posters .topcol .content{
        flex-wrap: wrap;
    }
    #posters .topcol .content img{
        width: 48%;
        margin-top: 20px;
    }
    #posters .imgcol img{
        width: 48%;
        margin: 0 !important;
    }
    #posters .imgcol .content{
        justify-content: space-between;
        padding: 0 10px;
    }
    #posters .textcol h2{
        font-size: 60px;
    }
    #aboutme .container .row{
        padding: 15px 0px;
    }
    #skills .leftcol h2{
        font-size: 80px;
        top: 10px;
    }
    #Testimonials .slider{
        width: 100%;
    }
    footer .left .toptext h3{
        font-size: 90px;
    }
    footer .left .toptext h4{
        width: 90%;
    }
    footer .right .content .inputs{
        width: 100%;
    }
    footer .right .content .btn{
        width: 100%;
    }
}
@media (max-width:400px){
    #banner .leftcol h1{
        font-size: 40px;
        line-height:60px;
    }
    @keyframes squarediv1 {
        0%{
            transform: translateX(0px,0);
        }
    
        30%{
            transform: translate(330px,0);
        }
        50%{
            transform: translate(330px,330px);
        }
        75%{
            transform: translate(0px ,330px);
            
        }
    
        100%{
            transform: translate(0px ,0px);
        }
    }
    @keyframes squarediv2 {
        0%{
            transform: translate(0px,0);
        }
    
        30%{
            transform: translate(0px,250px);
        }
        50%{
            transform: translate(-300px,250px);
        }
        75%{
            transform: translate(-300px ,-100px);
            
        }
    
        90%{
            transform: translate(0px ,-100px);
        }
        100%{
            transform: translate(0px ,0px);
        }
    }
    @keyframes squarediv3 {
        0%{
            transform: translate(0px,0);
        }
    
        25%{
            transform: translate(-50px,0px);
        }
        45%{
            transform: translate(-50px,-330px);
        }
        60%{
            transform: translate(280px ,-330px);
            
        }
    
        80%{
            transform: translate(280px ,0px);
        }
        100%{
            transform: translate(0px ,0px);
        }
    }    
    #aboutme .rightcol h2{
        font-size: 35px;
    }
    #aboutme .rightcol h2::before{
        left: 60%;
        
    }
    #aboutme .rightcol .readmore div p{
        font-size: 20px;
    }

    #portfolioposter .maincontentcon .content{
        flex-direction: column;
    }
    #portfolioposter .maincontentcon .right{
        margin-top: 20px;
    }
    #posters .textcol h2{
        font-size: 50px;
        line-height: 60px;
    }
    #Testimonials .squarediv4,
    #Testimonials .squarediv3,
    #Testimonials .squarediv5{
        display: none;
    }
}